@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: #00474B;
    font-size: 20px;
}

body {
    background-color: #C5E4E7;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

form input {
    width: 70vw;
    height: 48px;
    background-color: #F3F9FA;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    margin-top: 6px;
}

form input:focus, td:focus {
    outline: 2px solid #26C2AE;
}

form button {
    width: 130px;
    height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    background-color: #00474B;
    color: white;
    transition: 0.3s;
}

h1,
h2 {
    margin: 10vh 0 3vh;
    text-align: center;
    font-weight: 700px;
    font-size: 1.8rem;
}

p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

table {
    background-color: #fff;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    width: 95%;
    margin: 0 auto 50px;
}

table, th, td {
    border: 1px solid #00474B;
    padding: 6px;
}

.td-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.td-buttons button {
    padding: 2px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    max-width: 150px;
}

.td-buttons button:nth-child(1) {
    background-color: #36888cad;
    color: white;
}
.td-buttons button:nth-child(2) {
    background-color: #db6e6ead;
    color: white;
}

@media only screen and (min-width: 992px) {
    form input {
        width: 330px;
        height: 48px;
        background-color: #F3F9FA;
        border: none;
        border-radius: 5px;
        padding-left: 20px;
        margin-top: 6px;
    }    
    form button:hover {
        background-color: #26C2AE;
        color: #00474B;
        cursor: pointer;
        transition: 0.3s;
    }
    form {
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: center;
    }
    table {
        background-color: #fff;
        max-width: 920px;
        box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    }
    table, th, td {
        border: 1px solid #00474B;
    }
    thead th:nth-child(1) {
        width: 35%;
    }
    thead th:nth-child(2) {
        width: 35%;
    }
    .td-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .td-buttons button {
        width: 120px;
        padding: 2px;
        font-weight: 400;
        text-transform: uppercase;
        border-radius: 5px;
        border: none;
        transition: 0.3s;
        cursor: pointer;
    }
    .td-buttons button:nth-child(1) {
        background-color: #36888cad;
        color: white;
    }
    .td-buttons button:nth-child(2) {
        background-color: #db6e6ead;
        color: white;
    }
    .td-buttons button:nth-child(1):hover {
        background-color: #16868ce0;
        color: white;
    }
    .td-buttons button:nth-child(2):hover {
        background-color: #d94f4fd9;
        color: white;
    }
    
}